---
import "../styles/global.css";
import Button from "../components/Button.astro";
import Skills from "../sections/Skills.astro";
import AiTake from "../sections/AiTake.astro";
import Projects from "../sections/Projects.astro";
import Github from "../sections/Github.astro";
import Footer from "../sections/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import GradualBlur from "../components/GradualBlur.tsx";
import SocialsModal from "../components/SocialsModal.astro";
import { RubiksCube } from "../lib/motion-core";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="Rino Godson | Portfolio">
  <GradualBlur
    client:load
    target="page"
    animated="scroll"
    duration={"300ms"}
    position="top"
    height="5rem"
    mobileHeight="7rem"
    strength={2}
    divCount={2}
    curve="bezier"
    exponential={true}
    opacity={1}
  />
  <main
    class="min-h-dvh w-svw bg-[#111214] text-white flex flex-col px-6 py-12 pt-6 sm:pt-12 md:px-12 lg:px-24 font-[Rubik] overflow-hidden"
  >
    <div class="grid grid-cols-1 lg:grid-cols-2 w-full flex-1 gap-8 lg:gap-12">
      <div
        class="order-last lg:order-first flex flex-col justify-end h-full pb-8 lg:pb-12 z-10"
      >
        <div class="space-y-6 lg:space-y-8">
          <div>
            <h1 class="text-5xl md:text-6xl font-bold tracking-tight">
              Rino Godson
            </h1>
            <p class="text-gray-500 font-medium text-lg md:text-xl mt-2">
              he/him • <span class="text-gray-400">Programmer</span>
            </p>
          </div>

          <p
            class="text-gray-400 max-w-md leading-relaxed text-base md:text-lg"
          >
            i'm hands-off with docs. i learn by building - sometimes small,
            sometimes wild. i like turning ideas into real, working stuff. even
            if it's half-broken at first, it works... eventually.
          </p>

          <div
            class="flex flex-col sm:flex-row gap-4 pt-2 w-full button-container"
          >
            <div class="relative">
              <Button
                text="Socials"
                icon="mdi:heart"
                href="#"
                data-socials-trigger
              />
              <SocialsModal />
            </div>
            <Button
              text="Projects"
              icon="lucide:origami"
              href="#projects-stack"
            />
            <Button text="Resume" icon="lucide:file-text" href="/resume.pdf" />
          </div>
        </div>
      </div>

      <div
        class="order-first lg:order-last w-full h-full flex justify-center items-center saturate-0"
      >
        <div
          class="w-full sm:max-w-sm lg:max-w-none lg:w-full lg:h-full aspect-square flex items-center justify-center"
        >
          <RubiksCube client:visible class="h-full w-full" />
        </div>
      </div>
    </div>

    <div
      class="absolute bottom-6 right-6 z-50 origin-bottom-right scale-80 md:bottom-10 md:right-10 md:scale-100 lg:bottom-auto lg:left-24 lg:top-24 lg:origin-top-left"
    >
      <!-- From Uiverse.io by Creatlydev -->
      <a
        href="https://www.youtube.com/@RinoGodson"
        target="_blank"
        rel="noopener noreferrer"
      >
        <button
          class="group active:scale-100 relative grid h-30 w-30 cursor-pointer place-content-center overflow-hidden rounded-full border-none bg-[#e3e4e8] font-semibold text-[#111214] transition-all duration-100 hover:scale-105"
        >
          <p
            class="pointer-events-none absolute inset-0 animate-[spin_8s_linear_infinite]"
          >
            <span
              class="absolute inset-1.75"
              style="--index: 0; transform: rotate(calc(19deg * var(--index)))"
              >G</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 1; transform: rotate(calc(19deg * var(--index)))"
              >O</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 2; transform: rotate(calc(19deg * var(--index)))"
            >
            </span>
            <span
              class="absolute inset-1.75"
              style="--index: 3; transform: rotate(calc(19deg * var(--index)))"
              >T</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 4; transform: rotate(calc(19deg * var(--index)))"
              >O</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 5; transform: rotate(calc(19deg * var(--index)))"
            >
            </span>
            <span
              class="absolute inset-1.75"
              style="--index: 6; transform: rotate(calc(19deg * var(--index)))"
              >M</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 7; transform: rotate(calc(19deg * var(--index)))"
              >Y</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 8; transform: rotate(calc(19deg * var(--index)))"
            >
            </span>
            <span
              class="absolute inset-1.75"
              style="--index: 9; transform: rotate(calc(19deg * var(--index)))"
              >C</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 10; transform: rotate(calc(19deg * var(--index)))"
              >H</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 11; transform: rotate(calc(19deg * var(--index)))"
              >A</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 12; transform: rotate(calc(19deg * var(--index)))"
              >N</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 13; transform: rotate(calc(19deg * var(--index)))"
              >N</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 14; transform: rotate(calc(19deg * var(--index)))"
              >E</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 15; transform: rotate(calc(19deg * var(--index)))"
              >L</span
            >
            <span
              class="absolute inset-1.75"
              style="--index: 16; transform: rotate(calc(19deg * var(--index)))"
            >
            </span>
            <span
              class="absolute inset-1.75"
              style="--index: 17; transform: rotate(calc(19deg * var(--index)))"
            >
              <Icon
                name="mdi:youtube"
                class="inline-block w-[2em] aspect-square align-middle"
              />
            </span>
          </p>

          <div
            class="relative flex h-12.5 w-12.5 items-center justify-center overflow-hidden rounded-full bg-[#111214] text-[#e3e4e8]"
          >
            <svg
              viewBox="0 0 14 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-3.5 transition-transform duration-100 group-active:scale-100 group-hover:scale-110"
            >
              <path
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                fill="currentColor"></path>
            </svg>
          </div>
        </button>
      </a>
    </div>
  </main>
  <Skills />
  <Projects />
  <AiTake />
  <Github />
  <Footer />
</BaseLayout>

<script>
  const header = document.getElementById("progressive-header");

  window.addEventListener(
    "scroll",
    () => {
      if (window.scrollY > 30) {
        header?.classList.remove("opacity-0", "-translate-y-2");
        header?.classList.add("opacity-100", "translate-y-0");
      } else {
        header?.classList.add("opacity-0", "-translate-y-2");
        header?.classList.remove("opacity-100", "translate-y-0");
      }
    },
    { passive: true },
  );
</script>
